<% include ./partials/header %>
<!-- navegation bar -->    
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
      <a href="#intro" class="navbar-brand">Web Developer</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <!--a class="nav-item nav-link " href="#intro" >Home</a>-->
          <a class="nav-item nav-link " href="#about">About Me</a>
          <a class="nav-item nav-link " href="#portfolio" >Portfolio</a>
          <a class="nav-item nav-link " href="#contact" >Contact</a>
        </ul>
      </div>
    </nav>


  <!--intro section -->
<section id="intro" class="view hm-black-strong"> 

    <div class="mask rgba-black-light">
      <!-- Heading -->
       <div class="container" style="margin-top:25%">
            <div class="row align-items-center" >
              <div class="col text-center">
                <h4 class="display-4  white-text ">Hi, I am Frank Araque Cadenas. Nice to meet you!.</h4>
              </div>
            </div>
                
           <div class="row text-center" > 
              <div class="col-md-6" style="margin: 0px auto">
                <h5 class="white-text my-4 ">Interested in doing a project?</h5>
                <a class="btn btn-success"style="border-radius: 8px;" href="#contact">Let me know<i class="fa fa-envelope"></i></a>
                
           
              </div>
            </div> 
        
        </div>
    </div>
</section>

</header>
<!--about Me -->

  <section  id="about" class="sections">
      <div class="container" >
          <div class="row">
              <div class="col-md-6">
                  <h2 class="text-center"><strong>About me!</strong></h2>
                  <div style="margin: 2px auto"class="col-md-6 text-center ">
                  <img  src="/img/Frank-Eduardo-Araque-Cadenas.jpg" class="img-fluid rounded-circle" alt="Frank Eduardo Araque Cadenas" >
                  </div>
                  <p style="padding:10px" class="text-justify">My name is <strong>Frank Eduardo Araque Cadenas</strong>, I have a bachelor's degree in computer sciences and I have been working in various positions within the IT industry. I am currently located in South Moravia, Czech Republic<br ><br>
                  I have recently started my journey as a full time <strong>Web Developer</strong>. So I code simple things, and I love it. I am naturally curious and perpetually improving my technichal skills. I tend to code things from the scrath "if possible :-)"  and I really enjoy bringing ideas to life. </p>
                  
              </div>  

              <div class="col-md-6">
                <div class="jumbotron">
  <h4 class="alert-heading text-center"><strong>Skills</strong></h4>
  
                      <h5>HTML <i class="icon-html5"></i></h5>
                 <div class="progress">
                      <div id="html" class="progress-bar progress-bar-striped " ></div>
                 </div>
                 <hr>
                  <h5>CSS3 <i class="icon-css3"></i></h5>
                    <div class="progress">
                          <div id="css" class="progress-bar progress-bar-striped" ></div>
                     </div>
                  <hr>
                  <h5>Javascript <i class="icon-javascript"></i></h5>
                    <div class="progress">
                          <div id="js" class="progress-bar progress-bar-striped" ></div>
                     </div>
                  <hr>
                  <h5>Nodejs <i class="icon-nodejs"></i></h5>
                    <div class="progress">
                          <div id="nodejs" class="progress-bar progress-bar-striped" ></div>
                     </div>
                     <hr>
                  <h5>MongoDB <i class="icon-mongodb"></i></h5>
                    <div class="progress">
                          <div id="mongodb" class="progress-bar progress-bar-striped" ></div>
                    </div>
                    <hr>
                  <h5>BootStrap <i class="icon-bootstrap"></i></h5>
                    <div class="progress">
                          <div id="bootstrap" class="progress-bar progress-bar-striped" ></div>
                     </div>
  
 
                </div>
                
              </div>

            

          </div>
        
       </div>
  </section>

<!--porfoliio-->
<section id="portfolio" class="sections d-block"> 
 <div class="container">  
  <h2 class="text-center">Portfolio</h2>
   <div class="row" >
        
        <div class="col-sm-6 col-md-4 " >

            <div class="card" >
                <img class="card-img-top" src="/img/RESTful-api.png" alt="RESTful API" style="height: 100%; width:100%">
                <div class="card-body">
                    <h4 class="card-title">RESTful API <i class="icon-html5"></i><i class="icon-nodejs"></i><i class="icon-mongodb"></i></h4>
                    <p class="card-text">It is a RESTful API application with an authentication feature that requires a json web token to validate users</p>
                    <a href="https://github.com/feac80/RESTful-API" target="_blank" class="btn btn-primary">Check it out</a>

                </div>
            </div>

        </div>
           <div class="col-sm-6 col-md-4 " >
                <div class="card" >
                    <img class="card-img-top" src="/img/Campgrounds.jpg" alt="Color Game" style="height: 100%; width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Campgrounds Website <i class="icon-html5"></i><i class="icon-css3"></i><i class="icon-bootstrap"></i><i class="icon-nodejs"></i><i class="icon-mongodb"></i></h4>
                        <p class="card-text">This application contains the CRUD operations along with an authentication feature in passport.It shows a list of campsground located in the czeh Republic, and it allows users to add new campgrounds and post comments to new an existing campgrounds</p><a href="https://github.com/feac80/Campgrounds" target="_blank" class="btn btn-primary btn-sm">Check it out</a>
                        <a href="https://floating-fjord-76733.herokuapp.com/" target="_blank" class="btn btn-success btn-sm">On-line</a>

                    </div>
                </div>
           </div> 
            <div class="col-sm-6 col-md-4 " >

                <div class="card" >
                    <img class="card-img-top" src="/img/node-js-web-scraping-cheerio-request.jpg" alt="Color Game" style="height: 100%; width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Web Scraping<i class="icon-html5"></i><i class="icon-css3"></i><i class="icon-bootstrap"></i><i class="icon-nodejs"></i><i class="icon-mongodb"></i></h4>
                        <p class="card-text">This website is currently in progress (50%), and it will allow users to create a repository of websites that are available for web scraping.</p>
                        <a href="https://github.com/feac80/Web-Scraping" target="_blank" class="btn btn-primary">Check it out</a>

                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-md-4 " >

                <div class="card" >
                    <img class="card-img-top" src="/img/portfolio.jpg" alt="Color Game" >
                    <div class="card-body">
                        <h4 class="card-title">Portfolio<i class="icon-html5"></i><i class="icon-css3"></i><i class="icon-bootstrap"></i><i class="icon-nodejs"></i></h4>
                        <p class="card-text">This application uses nodemailer to send email notifcations trough Gmail API with AUTH2.0 method</p>
                        <a href="https://github.com/feac80/Web-Scraping" target="_blank" class="btn btn-primary">Check it out</a>

                    </div>
                </div>

            </div>

      
    </div>

</div>
</section>
 <!--Contact Section -->
<section id="contact" class="sections d-block">


<div class="container">
   
    <% if(success && success.length >0) {%>
         <div class="alert alert-success" role="alert">
          <p><strong>The email has been sent</strong></p>
         </div>
    <% } %>
    <% if(error && error.length > 0 ) {%>
    <div class="alert alert-danger" role="alert">
      <p><strong>Something went wrong</strong><%= error %></p>
    </div>  
    <% } %>
    
</div>
    
<div class="container">  
<!--<form id="contact-form" method="POST" action="https://script.google.com/macros/s/AKfycbwa87WhpDPcP_bCTxVZSeYzhD5XlBGkkFPXnRWS/exec" role="form">-->
<form id="contact-form" action="/send" method="POST">

        <div class="messages"></div>
        <div class="controls">
            <h2 class="text-center">Contact Me</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_name">Firstname *</label>
                        <input id="form_name" type="text" name="firstName" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_lastname">Lastname *</label>
                        <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_email">Email *</label>
                        <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_need">Please specify your need *</label>
                        <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your need.">
                            <option value=""></option>
                            <option value="Are you looking for a developer?">Are you looking for a developer?</option>
                            <option value="Are you looking for a technichal bussines partner?">Are you looking for a technichal bussines partner?</option>
                            <option value="Do yo want to disccuss about your idea viability?">Do yo want to disccuss about your idea viability? </option>
                            <option value="Other">Other</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="form_message">Message *</label>
                        <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" class="btn btn-success btn-send" value="Send message">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted">
                        <strong>*</strong> These fields are required. </p>
                </div>
            </div>
        </div>

    </form>

</div>
</section>
<!-- footer-->  
<footer  class="page-footer text-center text-md-left font-small blue pt-1 mt-1">

    <div class="footer-copyright py-3 text-center">
       Web Developer  © 2018 Copyright
        
    </div>
    <!--/.Copyright-->
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/main.js"></script> 
 
</body>
</html>